body { 
    background-color:  #8F9779;
    /* #BED489  #ADBEA2 */
} 
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 0px 3px;
    border: 1px purple;
    border-radius: 10px;
    background-color: white;
}
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.type-image {
    width: 400px;
    border-style:solid;
    border-width: 2px;

}
.typography_item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 0px 15px 0px;
}
.typography_item .writing {
    flex: 1;
    padding: 10px;
    width: 200px;  
}
.writing {
    width: 100px
}
.carpimage {
    width:200px;
    border-style:solid;
    border-color:black;
}
.typocontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    flex-direction: row;

}
.carp_item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 0px 15px 25px;
    background-color: #ADBEA2
}
.carpcontainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 0px 15px 38px;
}
.carp_item .carpwrite {
    flex: 1;
    padding: 10px;
    width: 200px;
}
.carpwrite {
    width: 100px;
}